header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 754px;
  height: 150px;
  margin: auto;
}
.header_img{
  width: 60px;
  height: 60px;
  margin: auto;
}