#root{
  background: #f1fcff;
  font-family: 'PT Sans Caption';
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 57px;
  margin-top: 15px;
}

.app{
  width: 754px;
  margin: auto;


}